body{
    font-family: 'albert sans';
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 140%;
    font-weight: 300;
    color: #3C4043;
    overflow-x: hidden;
}

.bodycase{
    background-color: #FDFAF7;
}

.ttx{
    font-weight: 500;
    margin-top: -20px;
}

.indexTitle{
    text-align: center;
    font-size: 32px;
    font-family: 'albert sans';
    line-height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}

.button{
    text-align: center;
    background-color: #3C4043;
    color: #FDFAF7;
    border: #3C4043 4px solid;
    padding: 30px;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 280px;
    transition-duration: 0.3s;
}

.button:hover{
    color: #3C4043;
    background-color: #FDFAF7;
    border: #3C4043 4px solid;
    transition-duration: 0.3s;
}

.display__button{
    display: flex;
    justify-content: center;
}

/* ACCUEIL */

.linkContact{
    font-size: 30px;
    font-weight: 200;
    text-decoration: none;
    color: black;
    text-align: right;
}

.linkContact__txt{
    padding-top: 20px;
    padding-right: 40px;
}

.accueilTitle{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #73787C;
    margin-bottom: 80px;
}

.visuel{
    text-align: center;
    margin-bottom: 50px;
}

.visuel__img{
    border-radius: 52px;
    
}

.visuel__title{
    text-align: center;
    
}

.visuel__txt{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.visuel__contenu{
    position: absolute;
    bottom: 4px;
    left: 0px;
    top: -160px;
    border-radius: 50px;
    border: #3C4043 4px solid;
    background-color: #73787C;
    
}

.visuel__link{
    text-decoration: none;
    color: white;
    position: relative;
}


/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    list-style: none;
}

.footer__link{
    position: absolute;
    font-weight: bold;
    left: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #3C4043;
    font-size: 20px;
}

.footer__link2{
    position: absolute;
    font-weight: bold;
    right: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #3C4043;
    font-size: 20px;
}

.casestudy{
   margin-left: 180px;

}

.copyright{
    text-align: center;
    margin-top: 60px;
}

small{
    text-align: center;
}

.suivant__txt{
    margin-left: 25px;
}

.illustration{
    display: flex;
    justify-content: center;
}

.illustration__txt{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.illustration__img{
    transition-duration: 0.3s;
}

.illustration__img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}


/* HEADER */

.header{
    position: relative;
    margin-bottom: 500px;
}

.header__img{
    position: absolute;
    z-index: -10;
    top: -20px;
    height: 540px;
    width: 100%;
    object-fit: cover;
}

.linkcase{
    color: #3C4043;
    font-size: 20px;
    text-decoration: none;
}

.header__color{
    background-color: #3C4043;
    position: absolute;
    height: 520px;
    top: -20px;
    width: 253px;
    z-index: -9;
    opacity: 90%;
}

.header__title{
    color: aliceblue;
    margin-top: 50px;
    font-size: 59px;
    font-weight: bold;
    margin-left: 25px;
}

.black{
    margin-left: -14px;
    color: #3C4043;
}

.black2{
    margin-left: 0px;
}

.header__h2{
    display: flex;
    margin-top: 190px;
    width: 200px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
}

.header__number{
    color: aliceblue;
    margin-right: 10px;
}

.header__sousTitle{
    color: aliceblue;
}

.header__txt{
    color: aliceblue;
    width: 200px;
    margin-left: 25px;
    margin-top: -10px;
    font-size: 15px;
}

.header__link{
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header__linkContact{
    position: absolute;
    color: #000000;
    font-size: 24px;
    right: 25px;
    text-decoration: none;
    list-style: none;
    margin-top: -25px;
}

li{
    list-style: none;
}

.cli{
    margin-top: 0px;
    color: #3C4043;
}

.header__linkMenu{
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    margin-left: -10px;
}

.header__linkMenuc{
    color: #3C4043;
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    margin-left: -10px;

}

/* MAIN */

.titlecase{
    padding-top: 200px;
}

.sst{
    margin-top: 50px;
}

.sousTitle{
    margin-right: 25px;
    margin-left: 25px;
    font-size: 30px;
    line-height: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.sousTitle1{
    margin-left: 25px;
}

.sousSousTitle{
    margin-left: 25px;
    padding-top: 0px;
    margin-right: 25px;
}

.sousSousTitle1{
    margin-top: 50px;
}

.txt{
    margin-left: 25px;
    margin-right: 25px;
}

.divContenu{
    padding: 10px 0px 10px 0px;
    background-color: #e2d1c3;
    margin-bottom: 40px;
    margin-top: 40px;
}

.divContenu__txt{
    font-weight: bold;
    line-height: 140%;
    font-size: 20px;
    text-align: center;
    margin: 0px 25px 0px 25px;
}


/* IMG */

.s11Img{
    width: 100%;
}

.s31img{
    width: 100%;
}

.s12img{
    height: 400px;
    display: block;
    margin: 0 auto;
}

.s23{
    width: 100%;
}

.GTxt{
    margin-left: 25px;
    font-weight: bold;
    font-size: 20px;
    color: #BA8268;
}

.illustration__img{
    border-radius: 5px;
}

.img_particule{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.fullscreen{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    z-index: -8;
}

.img_design{
    width: 100%;
    height: auto;
}

.lastimg{
    margin-bottom: 10px;
}

/* COMMENTAIRE */

.témoignage__pp{
    height: 52px;
    width: 52px;
    margin-left: 25px;
    margin-right: 10px;
}

.témoignage__profil{
    display: flex;
    align-items: center;
}

.témoignage__txt{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
}

.témoignage__star{
    display: flex;
}

.témoignage__numberStar{
    height: auto;
    width: 25px;
    margin-left: 25px;
    margin-right: -20px;
    margin-bottom: 50px;
}

.lastST{
    margin-top: 30px;
}

@media screen and (min-width: 500px) {

    .titlecase{
        margin-top: 200px;
    }

}


@media screen and (min-width: 700px) {

    body{
        font-size: 18px;
    }

    .titlecase{
        margin-top: 300px;
    }

    .header__linkMenuc{
        color: #3C4043;
        font-size: 24px;
        text-decoration: none;
        list-style: none;
        margin-left: 25px;
    
    }

    .img_design{
        height: auto;
        width: 650px;
    }

    .indexTitle{
        text-align: center;
        font-size: 43px;
        font-family: 'albert sans';
        line-height: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }
    
    .button{
        text-align: center;
        background-color: #3C4043;
        color: #FDFAF7;
        border: #3C4043 4px solid;
        padding: 60px;
        font-size: 43px;
        border-radius: 40px;
        text-decoration: none;
        margin-top: 150px;
        margin-bottom: 480px;
        transition-duration: 0.3s;
    }
    
    .button:hover{
        color: #3C4043;
        background-color: #FDFAF7;
        border: #3C4043 4px solid;
        transition-duration: 0.3s;
    }
    
    .display__button{
        display: flex;
        justify-content: center;
    }

    .header__color{
        width: 450px;
    }

    .header__title{
        font-size: 100px;
        margin-left: 60px;
    }
    
    .header__h2{
        margin-top: 230px;
        width: 300px;
        margin-left: 60px;
        font-size: 24px;
    }
    
    .header__txt{
       
        width: 300px;
        margin-left: 60px;
        margin-top: -10px;
        font-size: 15px;
    }

    .display{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 45px;
        margin-right: 45px;
    }
    .footer__index{
        margin-left: 75px;
        margin-right: 75px;
        font-size: 20px;
    }

    .copyright{
        font-size: 20px;
    }

    .accueilTitle{
        font-size: 100px;
        margin-bottom: 100px;
    }

    .header__linkMenu{
        margin-left: 25px;
    }

    .header__linkContact{
        margin-right: 60px;
    }

    .txt{
        margin-left: 60px;
        margin-right: 60px;
    }

    .GTxt{
        margin-left: 60px;
    }

    .sousTitle{
        margin-left: 60px;
    }

    .sousTitle1{
        margin-left: 60px;
    }

    .s11Img{
        width: 600px;
        margin-left: 60px;
    }

    .s31img{
        width: 600px;
        margin-left: 60px;
    }

    .sousSousTitle{
        margin-left: 60px;
    }

    .divContenu__txt{
        margin-left: 60px;
        margin-right: 60px;
    }

    .s23{
        width: 600px;
        margin-left: 60px;
    }

    .témoignage{
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 60px;
    }

    .témoignage__txt{
        max-width: 600px;
    }
    
    .footer__link{
        margin-left: 60px;
    }

    .footer__link2{
        margin-right: 60px;
    }

    .hc2{
        width: 457px;
    }

    .hc3{
        width: 457px;
    }

    .hc4{
        width: 452px;
    }

    .visuel__txt{
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 900px) {

    .titlecase{
         margin-top: 400px;
     }

}

@media screen and (min-width: 1024px) {

    .display{
        margin-left: 200px;
        margin-right: 200px;
    }

    .accueilTitle{
        font-size: 150px;
        margin-bottom: 200px;
        z-index: 10;
        position: relative;
        opacity: 0%;
        margin-top: 60px;
    }

    .img_design{
        height: auto;
        width: 250px;
    }

    .visuel{
        opacity: 0%;
    }

    .visible{
        opacity: 100%;
        transition-duration: 0.3s;
    }

    section{
        display: grid;
        grid-template-columns: repeat(9, 1fr) ;
        gap: 40px;
    }

    .header__color{
       height: 900%;
    }

    .header__img{
        height: 103%;
    }

    h1{
        grid-column: 1 / -1;
    }

    .header__sousTitle{
        margin-top: 100px;
    }

    .header__number{
        margin-top: 100px;
    }

    .header__txt{
        font-size: 24px;
        grid-column: 1/3;
    }

    .sousTitle1{
        grid-column: 1 / -1;
        font-size: 60px;
        margin-top: 220px;
        margin-left: 60px;
        margin-bottom: 0px;
    }

    .sousTitle{
        grid-column: 1 / -1;
        font-size: 60px;
        margin-left: 60px;
        margin-bottom: -30px;
        margin-top: 100px;
    }

    .s11Img{
        grid-column: 1/4;
        margin-left: 60px;
    }

   

    .imgl{
        padding-bottom: 150px;
    }

    .st{
        margin-top: -50px;
    }

    .txt{
        font-size: 22px;
        grid-column: 1/7;
        line-height: 140%;
        margin-left: 60px;
        margin-bottom: 0px;
    }

    .GTxt{
        font-size: 32px;
        margin-left: 60px;
        grid-column: 1/-1;
        margin-bottom: -30px;
        margin-top: 60px;
        margin-bottom: -20px;
        
    }

    .divContenu{
        grid-column: 1/-1;
    }

    .divContenu__txt{
        font-size: 32px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: 60px;
        margin-right: 60px;
    }

   .illustration__txt{
        margin-top: 100px;
   }

   .s2{
        margin-top: 40px;
   }

   .imgtxt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
   }

   .imgtxt__txt{
        display: flex;
        flex-direction: column;
   }

   

   .sousSousTitle{
        grid-column: 4/-1;
        margin-left: 60px;
        font-size: 32px;
        line-height: 140%;
        margin-bottom: 0px;
        margin-top: 60px;
    }

    .sousSousTitle1{
        grid-column: 1/-1;
        margin-bottom: -30px;
    
    }

    .txtImg{
        margin-right: 60px;
        max-width: 1180px;
    }

    .s31img{
        grid-column: 1/4;
        margin-right: 120px;
        max-width: 400px;
        height: 280px;
        margin-top: 100px;
    }

    .si31{
        margin-top: 200px;
        margin-bottom: -100px;
    }

    .si32{
        margin-top: 180px;
    }

    .si33{
        margin-top: 220px;
    }

    .si34{
        margin-top: 150px;
    }

    .sst2{
        margin-top: -120px;
    }

    .header__color{
        background-color: #3C4043;
        position: absolute;
        height: 853px;
        top: -20px;
        width: 670px;
        z-index: -9;
        opacity: 90%;
    }

    .header__title{
        color: aliceblue;
        margin-top: 150px;
        font-size: 160px;
        font-weight: bold;
        margin-left: 60px;
        margin-right: 60px;
    }

    .black{
        margin-left: -40px;
        color: #3C4043;
    }

    .black2{
        margin-left: -0px;
    }

    .header__h2{
        display: flex;
        margin-top: 350px;
        width: 500px;
        margin-left: 60px;
        font-weight: bold;
        font-size: 43px;
        line-height: 100%;
    }

    .header__number{
        color: aliceblue;
        margin-right: 10px;
    }

    .header__sousTitle{
        color: aliceblue;
    }

    .header__txt{
        color: aliceblue;
        width: 500px;
        margin-left: 60px;
        margin-top: 0px;
        font-size: 22px;
        font-weight: 500;
        line-height: 140%;
    }

    .grand__display{
        display: flex;
        justify-content: space-around;
        margin-top: -180px;
    }

    .hc2{
        width: 688px;
    }

    .hc3{
        width: 685px;
    }

    .s12img{
        position: absolute;
        right: 200px;
        top: 1065px;
        height: 450px;
    }

    .txt2{
        margin-bottom: 20px;
    }

    .s23{
        height: 600px;
        width: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 0px;
    }

    .balckmirror{
        height: 500px;
        width: auto;
    }

    .divs23{
        display: flex;
        justify-content: center;
    }

    .temoi__pc{
        display: flex;
        justify-content: space-around;
    }

    .témoignage{
        margin-top: 60px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .témoignage__txt{
        max-width: 570px;
    }

    .titlecase{
        margin-top: 800px;
    }

    .divimgdesign{
        display: flex;
        justify-content: space-around;
        margin-left: 60px;
        margin-right: 60px;
    }

    .img_design{
        margin-top: 60px;
    }

    .header__linkMenu{
        margin-left: 25px;
    }

    .header__linkContact{
        margin-right: 60px;
    }

    .visuel__img{
        height: 550px;
        border: #3C4043 4px solid;
        transition-duration: 0.3s;
        position: relative;
    }

    .visuel__img:hover{
        height: 600px;
        border: #3C4043 4px solid;
        transition-duration: 0.3s;
        position: relative;
        z-index: 11;
        opacity: 100%;
    }

    .visuel__contenu{
        z-index: 13;
        opacity: 0%;
        transition-duration: 0.3s;
     }
 
     .visuel:hover .visuel__contenu{
         opacity: 100%;
         transition-duration: 0.3s;
     }
  

    .visuel__txt{
        max-width: 260px;
    }

    .indexTitle{
        text-align: center;
        font-size: 80px;
        font-family: 'albert sans';
        line-height: 100%;
        margin-left: 60px;
        margin-right: 60px;
    }

    .button{
        text-align: center;
        background-color: #3C4043;
        color: #FDFAF7;
        border: #3C4043 4px solid;
        padding: 80px;
        font-size: 43px;
        border-radius: 50px;
        text-decoration: none;
        margin-top: 100px;
        margin-bottom: 50px;
        transition-duration: 0.3s;
    }

    .button:hover{
        color: #3C4043;
        background-color: #FDFAF7;
        border: #3C4043 4px solid;
        transition-duration: 0.3s;
    }

    .display__button{
        display: flex;
        justify-content: center;
    }

    .grand__display{
        margin-bottom: -80px;
    }

}
